@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*::Encabezado/Navegador::*/

/*::MAIN INICIO/ PRINCIPAL::*/

.centrar {
    display: flex;
    flex-direction: column;
    background-position: center center;
    padding: 50px 300px 500px 300px;
    line-height: 100px;

}


.main_completo .main_img_fondo {
    background-image: url("./../img/fondobarberia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;


}

.main_img_fondo .centrar {
    color: #ffffff;
    text-align: center;

}

.parrafoyimg {
    display: flex;
    max-width: 100%;
    align-items: center;



}

.texto,
.img-rosario {
    width: 50%;
}

.texto {
    padding: 50px;
    line-height: 30px;

}






/*::FOOTER/PIE DE PAGINA::*/

.footer {
    background-color: #000000;
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    line-height: 70px;
}

.footer .grupo-1 {
    color: #ffffff;
    background-image: url("./../img/sillonfondonegro.jpg");
    background-position: center;
    background-size: cover;
    padding: 50px;
    align-items: center;
    width: 50%;

}

.footer .grupo-2 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 50px;
    align-items: center;
    width: 50%;
}


.redes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.redes .facebook:hover {
    color: #2632db;
    transition: all 0.5s ease;
}

.redes .instagram:hover {
    color: #ff04ab;
    transition: all 0.5s ease;
}

.redes .facebook {
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    background-color: #0d2033;
}

.redes .instagram {
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    background-color: #0d2033;
}


/*::MAIN PRECIOS/PRINCIPAL::*/

hr {
    width: 50%;
    margin: auto;

}

.d-flex p {
    width: 50%;
    margin: auto;
}


/*::MAIN CONTACTO/PRINCIPAL::*/

.whatsapps {
    color: green;

}

.facebooks {
    color: #3b61c9;

}

.instagrams {
    color: #ff00ff;
}

/*::MAIN QUIENES SOMOS?::*/

/*::ACA USE GRID::*/

.Imagenn {
    width: 100%;
}

.grilla {
    grid-gap: 2rem;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:

        "grilla2     grilla1    grilla4"
        "grilla2     grilla6    grilla4"
        "grilla3     grilla6    grilla5"
    ;

}

.grilla1 {
    grid-area: grilla1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grilla2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: grilla2;

}

.grilla3 {
    grid-area: grilla3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grilla4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: grilla4;

}

.grilla5 {
    grid-area: grilla5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grilla6 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: grilla6;
}

@media screen and (max-width: 1300px) {
    .Imagenn { 
        width: 100%;
    }
    .grilla {
        grid-gap: 2rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:

            "grilla1     grilla2"
            "grilla4     grilla3"
            "grilla5     grilla6"
    }
}

@media screen and (max-width: 768px) {
    .Imagenn {
        width: 100%;
    }

    .footer .grupo-1 {
        color: #ffffff;
        background-image: url("./../img/sillonfondonegro.jpg");
        background-position: center;
        background-size: cover;
        padding: 50px;
        align-items: center;
        width: 100%;

    }

    .grilla {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        background-color: #000000;
        display: flex;
        text-align: center;
        justify-content: space-between;
        height: 100%;
        line-height: 50px;
    }

}

@media screen and (max-width: 576px) {
    .Imagenn {
        width: 100%;
    }

    .footer .grupo-1 {
        color: #ffffff;
        background-image: url("./../img/sillonfondonegro.jpg");
        background-position: center;
        background-size: cover;
        padding: 50px;
        align-items: center;
        width: 100%;

    }

    .grilla {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        background-color: #000000;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        line-height: 30px;
    }

}

@media screen and (max-width: 480px) {
    .Imagenn {
        width: 100%;
    }

    .footer .grupo-1 {
        color: #ffffff;
        background-image: url("./../img/sillonfondonegro.jpg");
        background-position: center;
        background-size: cover;
        padding: 50px;
        align-items: center;
        width: 100%;

    }

    .grilla {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        background-color: #000000;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        line-height: 25px;
    }






}